<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add student ID</a> | 
			<a href="/users">View ID</a>
		</div>	
		<h1><%= title %></h1>
